@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto+Slab&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    max-width: 1400px;
}
a{
    text-decoration: none;
}
nav{
    width: 100%;
    height: 115px;
    padding: 0 230px;
    display:flex;
    align-items: center;
}

nav .logo{
    background: url("../images/logo.png");
    margin-right: auto;
}

.nav-menu{
    list-style: none;
    text-transform: uppercase;
    color: #777777;
    font-size:0.9rem;
    width: 430px;
    display: flex;
    justify-content: space-between;
}
.main-header{
    background-image: url("../images/background-header.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 530px;
}
.blend{
    height:100%;
    background-color: rgba(0, 0, 0, 0.75);
    color:white;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
}
.main-header h1{
    font-size: 2.62rem;
    margin-bottom: 2.5rem;

}
.sub-title{
    font-family: 'Roboto Slab', serif;
    font-size:0.9rem;
    margin-bottom: 3.75rem;
    color: grey;
}
.btn-header{
    color: white;
    background-color: #7cc576;
    padding: 24px 35px;
    border-radius: 50px;
}
.section-1{
    padding: 100px 230px;
    text-align: center;
}
.section-1 h2{
    text-transform: uppercase;
    font-size: 2.5rem;
}
.section-1 p{
    font-size: 1.2rem;
    color:grey;
}
.container{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align:center;
    margin-top: 5.62rem;
}
.block{
    max-width: 280px;
    min-width: 200px;
}