*{
    padding: 0;
    margin: 0;
}

/*Global*/
.container{
    width: 80%;
    max-width: 1920px;
    margin: auto;
    height: 100%;
}

/*Header*/
#background-image{
    background: url(../img/background.png) no-repeat center/cover ;
    width: 100%;
    height: 100vh;
}

header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    min-height: 154px;
}

.logo img{
    width: 180px;
}

header ul li{
    display: inline;
    padding: 15px;
}

header ul li a{
    text-decoration: none;
    font-family: Myriad Pro, Arial;
    font-size: 1.2rem;
    color: white;

}

header ul li a:hover{
      border: 1px solid black;
    border-radius: 25%;
}

/*Showcase*/
#showcase{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: calc(100% - 154px);
}

#slogan{
    margin-top: 154px;
    text-align: center;
    color: #FFFFFF;
}

#slogan h1{
    font: 3.125rem Myriad Pro;
    opacity: 1;
}

#slogan p{
    opacity: 0.5;
}

#buttons{
    padding-bottom: 140px;
}

#buttons a{
    border-radius: 28px;
    border: 1px solid #FFF;
    padding: 20px 54px;
    margin: 0 10.5px;
    text-decoration: none;
}

.white-button{
    background: #FFF;
    color: #d32721;
}

.transparent-button{
    color: #FFF;
}

.transparent-button:hover{
    animation-name: hover;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.scroll{
    opacity: 0.5;
    margin-bottom: 50px;
}

.scroll:hover{
    animation-name: hover-opacity;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

/*Transparent button animation*/
@keyframes hover{
    to{
        background-color: rgba(255, 255, 255, 0.5);
    }
}

@keyframes hover-opacity{
    to{
        opacity: 1;
    }
}

/*Advantages*/
#background-advantages{
    background-color: #f4f5fc;
}

.box{
    min-width: 200px;
    width: 300px;
    text-align: center;
}

.box h3{
    font-size: 30px;
    background: -webkit-linear-gradient(40deg, #cb0035, #e37c21);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.box p{
    color: #d0d1d5;
}

.bottom-button{
    text-align: center;
}

.bottom-button a{
    display:inline-block;
    border-radius: 28px;
    padding: 20px 54px;
    text-decoration: none;
    color: #FFF;
    font-family: Myriad Pro;
    background: linear-gradient(30deg, #29489a, #4964a9);
}

/*Advantages position */
#advantages{
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-around;
    box-sizing: border-box;
    padding: 25px 0;
}

.box-wrapper{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    flex-wrap: wrap;
}