body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(70, 64, 64);
}

.button{
    width:70px;
    height:70px;
    font-size: 30px;
    font-weight: bold;
}
